
.bg {
    background-image: url('https://images.pexels.com/photos/29914937/pexels-photo-29914937/free-photo-of-elegant-portrait-of-a-fashion-model-in-fur-coat.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=2'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh; 
    width: 100vw; 
    position: relative;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
 
  .bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }
  
 
  .content {
    position: absolute; 
    top: 32%; 
    left: 20px; 
    transform: translateY(-50%); 
    z-index: 2; 
    color: white;
    text-align: left;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    opacity: 1;
    animation: slideUp 1s ease-out forwards;
  }
  
  .content h1 {
    font-size: 3rem;
    margin: 0 0 20px;
  }
  
  .content p {
    font-size: 1.5rem;
    margin: 0 0 20px;
  }
  
  
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  